<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Master Control Studio Pro</string>
	<key>CFBundleExecutable</key>
	<string>MacMasterControlPro</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.gordasgdc.macmastercontrolpro</string>
	<key>CFBundleName</key>
	<string>Master Control Studio Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.25.4</string>
	<key>CFBundleVersion</key>
	<string>2.25.4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Master Control Studio Pro folosește AppleScript pentru a solicita drepturi de administrator, la fel ca alte aplicații de sistem.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 GDC / Cristi Gordas. Toate drepturile rezervate.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
